<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Resource Management System{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>

<body>

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        SANASA
                    </a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        {% block header_navigation_links %}
                            <li>
                                <a href="{{ path('homepage') }}">
                                    <i class="fa fa-home"></i> Homepage
                                </a>
                            </li>


                            {% if app.user and (is_granted('ROLE_ADMIN') or is_granted('ROLE_STUDENT')) %}

                            {% endif %}

                            {% if app.user and (is_granted('ROLE_ADMIN') or is_granted('ROLE_STUDENT') or is_granted('ROLE_COACH')) %}
                            {% endif %}

                        {% endblock %}

                        {# Log out section #
                        {% if app.user %}
                            <li>
                                <a href="{{ path('security_logout') }}">
                                    <i class="fa fa-sign-out"></i> Sign out
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('security_login_form') }}">
                                    <i class="fa fa-sign-in"></i> Sign in
                                </a>
                            </li>
                        {% endif %} #}

                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">

            <div id="main" class="col-sm-9">

                {% block main %}<h1> MoraSpirit </h1>
                    <h2> Resource Management System</h2>
                    <br>
                    <div class="section about">
                        <p>This application is developed for the purpose of managing sport equipments of Mora spirit.
                            The system also means to manage the student details who are involved in sports within the
                            university.
                            It is also capable of managing the supplies of sports equipment to the students, managing
                            the student resource allocation schedule and managing the practice schedule.</p>
                    </div>
                {% endblock %}

            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}


                    <div class="section about">
                        <div class="well well-lg">
                            {% block side_navigation %}
                                <p>
                                    <a href="https://twitter.com/moraspiritNews"><i class="fa fa-twitter"> Follow us on
                                            Twitter</i><br><br></a>
                                    <a href="https://www.facebook.com/moraspirit.fanpage"><i
                                                class="fa fa-facebook-official"> Find us on Facebook</i><br><br></a>
                                    <a href="https://plus.google.com/108795907592684921602/posts"><i
                                                class="fa fa-google-plus"> Join with us on Google Plus</i> <br><br></a>
                                    <a href="https://www.youtube.com/user/moraspiritNews?feature=watch"><i
                                                class="fa fa-youtube"> See us in action on Youtube</i> <br><br></a>
                                    <a href="http://moraspiritblog.blogspot.com/"><i class="fa fa-rss"> Visit our
                                            blog</i><br><br></a>
                                    <a href="https://www.linkedin.com/company/moraspirit-initiative"><i
                                                class="fa fa-linkedin-square"> Connect with us on LinkedIn</i> <br><br>
                                    </a>
                                </p>
                            {% endblock %}
                        </div>
                    </div>

                    <div class="section about">
                        <div class="well well-lg">
                            {% block about %}
                            {% endblock %}
                        </div>
                    </div>

                {% endblock %}
            </div>

        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} SANASA</p>

                    <p>ic_license</p>
                </div>
                <div id="footer-resources" class="col-md-6">

                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
